.App {
  text-align: center;
}

.container {
  display: grid;
  margin: 10px;
  grid-template-columns: 10% auto 10%;
}

.home main {
  padding: 5%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4em;
}

.App-intro {
  font-size: large;
}

nav {
  margin: 0;
  margin-right: 10px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 80vh;
  align-items: flex-start;
  background-color: pink;
  margin: 0;
  padding: 0;
}

.menu-item {
  flex: 0;
  align-self: stretch;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  text-decoration: none;
  color: black;
}

.menu-item a {
}

.menu-item:hover {
  transform: scale(1.2, 1.2);
}

.search-bar {
  width: 50em;
  height: 2.5em;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  font-size: 14px;
}

::-webkit-input-placeholder {
   text-align: center;
}

.books-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.books-section {
  background-color: grey;
  height: 30em;
  width: 70em;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.book {
  margin: 20px;
  flex: 1;
  align-self: center;
}

.book img {
  background-size: contain;
  background-repeat: no-repeat;
}

.shelf-book-cover-top-left {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 30%;
  width: 15%;
  background-color: black;
}

.shelf-top-left {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 0;
	height: 0;
	border-bottom: 15em solid red;
	border-right: 10em solid transparent;
}

.shelf-book-cover-top-right {
  position: absolute;
  top: 20%;
  left: 60%;
  height: 30%;
  width: 15%;
  background-color: black;
}

.shelf-top-right {
  position: absolute;
  top: 25%;
  left: 80%;
  width: 0;
	height: 0;
	border-bottom: 15em solid red;
	border-right: 10em solid transparent;
}

.shelf-book-cover-bottom-left {
  position: absolute;
  top: 60%;
  left: 20%;
  height: 30%;
  width: 15%;
  background-color: black;
}

.shelf-bottom-left {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 0;
	height: 0;
	border-bottom: 15em solid red;
	border-right: 10em solid transparent;

}

.shelf-book-cover-bottom-right {
  position: absolute;
  top: 60%;
  left: 60%;
  height: 30%;
  width: 15%;
  background-color: black;
}

.shelf-bottom-right {
  position: absolute;
  top: 60%;
  left: 80%;
  width: 0;
	height: 0;
	border-bottom: 15em solid red;
	border-right: 10em solid transparent;
}

.book-cover-title h1 {
  transform: rotate(-90deg);
  position: absolute;
  top: 4em;
}

.shelf {
  display: grid;
  margin: 10px;
  grid-template-columns: 30% auto;
}

.spines {
  min-height: 70vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px;
  border: 1px solid black;
}

.shelf .books-list {
  height: 70vh;
  overflow: scroll;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
}

.spine {
  border: 1px black solid;
  flex: 1;
  max-height: 5vh;
  border-radius: 10px;
  margin: 1px;
  box-shadow: -5px -5px #888888;
}

.books-list .book {
  min-height: 500px;
  width: 400px;
  border: 1px solid black;
  margin: 10%;
  flex: 1;
  align-self: center;
  box-shadow: 5px 5px #888888;
}

.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 600px;
}

.form {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-labels {
  font-size: 18px;
}

.form-inputs {
  width: 50em;
  height: 2.5em;
}

.carousel_slide {
  height: 100%;
  right: 0;
  position: absolute;
  display: none;
  overflow-y: auto;
  top: 0;
  left: 0;
}

.carousel_activator:nth-of-type(1):checked ~ .carousel_slide:nth-of-type(1) {
  display: block;
  animation: showSlide 0.5s;
}
