body {
  background-color: rgba(42, 39, 56, 0.9)
}

.App {
  text-align: center;
}

.container {
  display: grid;
  margin: 10px;
  grid-template-columns: 10% auto 10%;
}

.home main {
  padding: 5%;
}

.App-header {
  background-color: #260026;
  height: 150px;
  padding: 20px;
  color: #e5cce5;
  color: rgba(255, 255, 255, 0.9);
}

.App-title {
  font-size: 4em;
}

.App-intro {
  font-size: large;
}

nav {
  margin: 0;
  margin-right: 10px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  align-items: flex-start;
  background-color: rgba(171, 155, 182, 1);
  margin: 0;
  padding: 0;
}

.menu-item {
  flex: 0;
  align-self: stretch;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  text-decoration: none;
  color: black;
}

.menu-item:hover {
  transform: scale(1.2, 1.2);
}

.search-bar {
  width: 50em;
  height: 2.5em;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  font-size: 14px;
}

::-webkit-input-placeholder {
   text-align: center;
}

.books-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.books-section {
  background-color: rgba(42, 39, 56, 1);
  height: 500px;
  width: 900px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.book {
  margin: 20px;
  flex: 1;
  align-self: center;
}

.book img {
  background-size: contain;
  background-repeat: no-repeat;
}

.shelves-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
}

.shelves-header {
  background-color: #260026;
  color: rgba(255, 255, 255, 0.9);
  min-height: 100px;
  padding: 10px;
}

.shelves-section {
  background-color: #83677B;
  height: 30em;
  min-width: 70em;
  max-width: 80em;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.shelf-info {
  margin: 0 20px;
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.shelf-cover {
  height: 200px;
  width: 150px;
  margin: 0 10px 0 30px;
  align-self: center;
}

.shelf-name {
  width: 0;
	height: 0;
	border-bottom: 250px solid #501B1D;
	border-right: 150px solid transparent;
  align-self: center;
  display: grid;
  margin: 0 150px 0 0;
  color: rgba(255, 255, 255, 0.7);
}

.vertical-name {
  transform: rotate(-90deg);
  position: relative;
  top: 130px;
}

.shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.shelf-header {
  width: 100%;
  background-color: #260026;
  color: rgba(255, 255, 255, 0.9);
}

.spines {
  flex: 0.7;
  min-height: 70vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(131, 104, 123, 0.5);
  color: white;
}

.shelf .books-list {
  flex: 1;
  height: 70vh;
  overflow: scroll;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  background-color: rgba(131, 104, 123, 1);
}

.spine {
  border: 1px black solid;
  flex: 1 1 auto;
  max-height: 5vh;
  border-radius: 10px;
  margin: 1px;
  box-shadow: -5px -5px #888888;
}

.books-list .book {
  min-height: 500px;
  width: 400px;
  border: 1px solid black;
  margin: 10%;
  flex: 1;
  align-self: center;
  box-shadow: 5px 5px #888888;
}

.book-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  background-color: rgba(131, 104, 123, 1);
}

.wrapper {
  align-self: center;
}

.wrapper-background {
  background-color: #260026;
}

.wrapper-border {
  border: 1px solid #501B1D;
}

.white-font {
  color: white;
}

.button-color {
  background-color: #501B1D;
  color: white;
  border-radius: 10px;
  width: 200px;
}

.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 80vh;
  max-width: 600px;
  background: url('https://i.pinimg.com/736x/86/14/b2/8614b2d44953dd777da0422b515cb1c2--antique-books-vintage-books.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form-container h1 {
  align-self: center;
  color: #e5cce5;
}

.form {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  background-color: rgba(135, 75, 175, 0.3);
}

.form-labels {
  font-size: 18px;
}

.form-inputs {
  width: 50em;
  height: 2.5em;
}
